@model Syntra.MVCAdvanced.ViewModels.LocationDetailsVM

@{
    ViewData["Title"] = "Index";
}

<h1>DanceSchool Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Location" asp-action="Index" method="get">
    <p>
        Street: <input type="text" asp-for=" SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Locations[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations[0].StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Locations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>